<div class="card mb-4" *ngIf="book">
  <div class="card-body bg-light">
      <img class="img-thumbnail float-end" alt=""
        src="https://api.angular.schule/avatar/{{ book.rating }}">
    <div class="card-title">
      <h2>
        {{ book.title }}
        <span class="badge bg-secondary">{{ book.rating }}</span>
      </h2>
    </div>
    <p>{{ book.description }}</p>

    <button [disabled]="book.rating <= 1" (click)="doRateDown()" class="btn btn-primary me-2">-1</button>
    <button [disabled]="book.rating >= 5" (click)="doRateUp()" class="btn btn-primary">+1</button>
  </div>

  {{ log() }}
</div>
